parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    doctrine:
        objectManagerLoader: tests/doctrine-orm-object-manager-bootstrap.php
